
@{
    ViewBag.Title = "VistaConPartialViewTipada";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>VistaConPartialViewTipada</h2>

@Html.Partial("_pvLinkPerfil", (_20202c_Clase5_LayoutsValidaciones.Models.Usuario)ViewBag.UsuarioActual)

