
@{
    ViewBag.Title = "VistaConLayoutAnidado";
    Layout = "~/Views/Shared/_LayoutAnidado.cshtml";
}

<h2>VistaConLayoutAnidado</h2>
Contenido de Vista
@section SocialMedia{
    <a href="#">IG</a>
    <a href="#">FB</a>
}

