
@{
    ViewBag.Title = "VistaConRegiones";
    Layout = "~/Views/Shared/_LayoutConRegiones.cshtml";
}
@section PieDePagina {
    <b>este es el pie de pagina de mi vista</b>
}

@section HeadScripts {
    <script src="" type="text/javascript"></script>
}

<h2>VistaConRegiones</h2>

<div>
    Contenido fuera de regiones
</div>



