<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        Contenido de BaseLayout
        @RenderBody()
    </div>
</body>
</html>
